@use "../../styles/partials/fonts" as *;

* {
  font-family: "LushHandwritten";
}

.scan {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    text-align: center;
    border: 1px black solid;
    padding: 0.5rem 6rem;
    font-size: 3rem;
  }
  &__img {
    margin: 2rem 0rem;
    width: 50%;
  }
  &__form {
    width: 80%;
  }
  &__search {
    display: flex;
    width: 100%;
    // padding: 2rem 10rem;
    padding: 1rem 8rem 1rem 3rem;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  &__container2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__product {
    padding: 1rem 3rem;
    font-size: 1.25rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  &__qty {
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }
  &__container3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__btn-confirm {
    padding: 1rem 7rem;
    font-size: 1.25rem;

    border-radius: 0.3rem;
    margin-right: 2rem;
    background-color: rgb(121, 194, 68);
    border-color: rgb(121, 194, 68);
    &:hover {
      //   background-color: rgb(65, 195, 65);
      //   border-color: rgb(65, 195, 65);

      color: white;
    }
  }
  &__btn-cancel {
    padding: 1rem 7.5rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    background-color: rgb(236, 50, 50);
    border-color: rgb(236, 50, 50);
    &:hover {
      //   background-color: rgb(236, 50, 50);
      //   border-color: rgb(236, 50, 50);
      color: white;
    }
  }
}
